# Server
PORT=

# MongoDB
MONGO_USER=
MONGO_PASSWORD=
MONGO_CLUSTER=
MONGO_DATABASE=

# Redis
REDIS_HOST=
REDIS_PORT=

# JWT
JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION=
JWT_REFRESH_TOKEN_EXPIRATION=

# AI API
OPENAI_API_KEY=
CLAUDE_API_KEY=
OPENROUTER_API_KEY=

# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

# Mail (Gmail SMTP)
MAIL_USERNAME=
MAIL_PASSWORD=

# Frontend
APP_FRONTEND_URL=
